@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@theme {
  --font-work-sans: "Work Sans", sans-serif;

  /* Fundos */
  --color-background-main: #dde9fb;
  --color-background-card: #99c4f4;

  /* Marca */
  --color-primary: #4b9fe5;
  --color-primary-hover: #3779af;

  /* Estruturas */
  --color-sidebar-background: #25557d;
  --color-header-background: #14344e;
  --color-footer-background: #051523;

  /* Textos */
  --color-text-primary: #14344e;
  --color-text-secondary: #25557d;
  --color-text-on-dark: #dde9fb;

  /* Botões */
  --color-button-primary: #4b9fe5;
  --color-button-primary-hover: #3779af;

  /* Bordas */
  --color-border-light: #99c4f4;
  --color-border-dark: #25557d;
}

@layer base {
  html {
    @apply font-work-sans;
  }
}
